.card {
  min-width: 100%;
  margin: 0 auto;

  height: 40rem;
  display: grid;
  grid-template-rows: 15rem 1fr 3rem;
  grid-template-areas:
    'image'
    'description'
    'link';
  & > * {
    width: 80%;
    margin: 0 auto;
  }
  &_image {
    grid-area: image;
    margin-bottom: 2rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &_description {
    grid-area: description;
    text-align: center;
    h2 {
      color: yellow;
    }
    p {
      color: white;
    }
  }
  &_links {
    grid-area: link;
    display: flex;
    justify-content: space-around;
    a {
      color: white;
    }
  }
}
