.contact-form_container {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  h2 {
    text-align: center;
    max-width: 40ch;
    color: #ffe700;
  }
  .form {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > div {
      position: relative;
      height: 4rem;
      width: 50rem;
      background: white;
      z-index: 10;
      margin-bottom: 2rem;
      label {
        position: absolute;
        transition: all 0.5s;
        z-index: -2;
        left: 1rem;
        transform: translateY(50%);
      }
      input {
        display: inline-block;
        font-family: "Press Start 2P", cursive;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 20;
        background: transparent;
        border: none;
        outline: none;
        &:focus {
          border: rgb(185, 2, 185) solid 0.5rem;
        }
        &:focus + label {
          transform: translateY(-1.5rem);
          color: white;
        }
      }
    }
    .message_container {
      height: 30rem !important;
    }
    textarea {
      font-family: "Press Start 2P", cursive;
      width: 100%;
      height: 100%;
      z-index: 20;
      position: absolute;
      background: transparent;
      outline: none;
      padding: 0.3rem;
      &:focus {
        border: rgb(185, 2, 185) solid 0.5rem;
      }
      &::placeholder {
        padding: 0.5rem;
        color: black;
      }
    }
  }
}

.form button {
  position: relative;
  display: block;
  background: none;
  color: white;
  font-family: inherit;
  border: none;
  width: 10rem;
  height: 5rem;
  overflow: hidden;
  &:focus {
    outline: none;
  }
  &:hover,
  &:focus {
    .left {
      transform: translateY(-100%);
      transition: transform 0.2s 0.6s;
    }
    .right {
      transform: translateY(100%);
      transition: transform 0.2s 0.2s;
    }
    .top {
      transform: translateX(100%);
      transition: transform 0.2s;
    }
    .bottom {
      transform: translateX(-100%);
      transition: transform 0.2s 0.4s;
    }
  }
  span {
    transition: all 1s;
    position: absolute;
    display: block;
    background-color: #ffe700;
  }
  .top,
  .bottom {
    height: 1rem;
    width: 100%;
  }
  .left,
  .right {
    height: 100%;
    width: 1rem;
    background: #ffe700;
  }
  .top {
    top: 0;
    left: -100%;
  }
  .bottom {
    bottom: 0;
    left: 100%;
  }
  .left {
    left: 0;
    bottom: -100%;
  }
  .right {
    right: 0;
    top: -100%;
  }
}
