.screen_container {
  width: 70rem;
  margin: 0 auto;
  height: 53%;
  border: 20px rgb(133, 130, 130) solid;
  background: rgb(133, 130, 130);
}

.screen {
  background: #27467e;
  border-radius: 1rem;
  z-index: 201;
  height: 100%;
  & > p {
    color: white;
    position: fixed;
    right: 2rem;
    top: 2rem;
  }
}

// .full-screen {
//   animation: full 2s forwards ease-in-out;
//   transform-origin: center;
// }
@media only screen and (max-width: 781px) {
  .screen_container {
    width: 100%;
    height: 100%;
    border: none;
  }
  .frame_top {
    border: none;
  }
}
