.project_container {
  width: 50rem;
  height: 100%;
  display: flex;
  margin: 0 auto;

  flex-wrap: nowrap;
  align-items: center;
  overflow: hidden;
}

.arrow {
  color: white;
  font-size: 4rem;
  position: absolute;
  transform: translateY(-50%);
  &_left {
    top: 50%;
    left: 2rem;
  }
  &_right {
    top: 50%;
    right: 2rem;
  }
}
